In [1]:
from numpy.random import randn

In [2]:
from pandas import DataFrame

In [3]:
df = DataFrame(randn(10, 2), columns=list('ab'))

In [4]:
df

          a         b
0 -0.714380  0.107044
1 -1.706263 -0.471145
2 -1.468298 -0.290072
3  1.106470 -0.674545
4 -0.677746  0.495610
5 -0.436277  0.743319
6 -1.804249 -1.567971
7  0.914774  1.446570
8 -1.754627 -0.324877
9  1.072398 -0.417809

In [5]:
df.query('a > b')

          a         b
3  1.106470 -0.674545
9  1.072398 -0.417809